.root {
  height: 100vh;
}

.imageBackground {
  background-color: #fafafa;
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.paper {
  /* margin: theme.spacing(8, 4), */

  margin: 64px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.avatar {
  /* margin: theme.spacing(1), */
  margin: 10px;
  /* backgroundColor: theme.palette.secondary.main, */
  background-color: rgb(220, 0, 78);
}
.form {
  width: "100%";
  /* margin-top: theme.spacing(1), */
  margin-top: 10px;
}
.submit {
  /* margin: theme.spacing(3, 0, 2), */
  margin: 30px 0 20px;
}
